<!-- main svg -->
<div id="main-application-div" style="width: 100%; height:95%; display: flex; align-items: center;">
    <div style="flex: 1; height: 100%;"></div>

    <div id="center-view" style="width: 35%; height:70%;">
        <!-- SVG TEST PICTURE ------------------- -->
        <svg id="dispo-view-box" width="100%" height="95%" transform="scale(1,-1)" viewBox="0 0 600 770" preserveAspectRatio="none">
            <!-- black box rectangle (background) -->
            <rect width="100%" height="100%" rx="20" ry="20" (click)="addNewTrainOnView($event)"
                style="fill:#000000; stroke:rgb(255, 0, 0); stroke-width:3;"/>
            <!-- railway station lines -->
            <g *ngFor="let station of stationPoints; trackBy: trackByFunction">
                <line [attr.x1]="station.xValue" y1="0%" [attr.x2]="station.xValue" y2="100%"style="stroke:rgba(255, 255, 255, 0.6);stroke-width:0.7"/>
            </g>>
            <!-- polylines for all trains -->
            <g *ngFor="let train of dataPointsView; trackBy: i; let i = index">
                <polyline [attr.points]="train.coord" [attr.id]="i" class="train-polyline">
                    <!-- tooltip -->
                    <title>{{'Zug: ' + train.name + ' aus Richtung...'}}</title>
                </polyline>
                <!-- red box for train names -->
                <rect [attr.x]="train.lastCoordinate[0]-5" [attr.y]="train.lastCoordinate[1]-3" width="40" height="17"
                style="fill:#b83737;fill-opacity:0.7;" />
                <!-- name of train --> 
                <text [attr.x]="train.lastCoordinate[0]"
                [attr.y]="train.lastCoordinate[1]" 
                text-anchor="bottom"
                fill="white"
                [attr.transform]="train.lastCoordinate[2]"
                font-size="10">{{train.name}}</text>
            </g>
        </svg>
        <svg width="100%" height="5%">
            <rect width="100%" height="100%"  
            style="fill:#000000;"/>
            <!-- seperator -->
            <line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgba(255, 255, 255, 0.9);stroke-width:3" />
            <!-- railway lines -->
            <line x1="0" y1="30%" x2="100%" y2="30%" style="stroke:rgb(255, 255, 255);stroke-width:0.8" />
            <line x1="0" y1="40%" x2="100%" y2="40%" style="stroke:rgb(255, 255, 255);stroke-width:0.8" />

            <!-- railway station lines -->
            <g *ngFor="let station of stationPoints; trackBy: trackByFunction">
                <line [attr.x1]="station.xValue" y1="20%" [attr.x2]="station.xValue" y2="50%" style="stroke:rgba(255, 255, 255, 0.8);stroke-width:1" />
                <text style="font-size: x-small" [attr.x]="station.xValue" y="70%" fill="rgba(255, 255, 255, 0.8)">{{station.name}}</text>
            </g>
        </svg>
    </div>

    <!-- bottom svg -->
    <div style="height: 10%;">
        <div style="height: 50%;">
            
        </div>
    </div>
    <div style="flex: 1; height: 100%;"></div>
</div>

<div style="height: 5%; width: 100%">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioSimulation" [(ngModel)]="buttonModel" (change)="checkRadioButtons()">
        <label class="btn-primary button-style fa fa-stop" ngbButtonLabel>
          <input type="radio" ngbButton value="stop">
        </label>
        <label class="btn-primary button-style fa fa-play" ngbButtonLabel>
          <input type="radio" ngbButton value="play">
        </label>
        <label class="btn-primary button-style fa fa-fast-forward" ngbButtonLabel>
          <input type="radio" ngbButton value="ff">
        </label>
        <label class="btn-primary button-style fa fa-train" ngbButtonLabel>
          <input type="radio" ngbButton value="hazard">
        </label>
    </div>
</div>
