<!-- Header -->
<div class="web4Bpa-container">
  <div class="web4Bpa-head-seperator"></div>
  <div class="web4Bpa-toolbar-container">
    <div class="left-container">
        <div class="web4Bpa-title">{{ title }}</div>
    </div>
    <!-- Toolbar -->
    <div class="right-container toolbar-tab-color">
        <a [routerLink]="['/disposition']" routerLinkActive="active" (click)="activateButton('disposition')" 
            class="btn btn-outline-primary toolbar-buttons" role="button">Disposition</a>
        <a [routerLink]="['/supa-board']" routerLinkActive="active" (click)="activateButton('supa-board')" 
            class="btn btn-outline-primary toolbar-buttons" role="button">Supaboard</a>
        <a [routerLink]="['/colliding-nodes']" routerLinkActive="active" (click)="activateButton('colliding-nodes')" 
            class="btn btn-outline-primary toolbar-buttons" role="button">colliding-nodes</a>
        <a [routerLink]="['/pan-zoom']" routerLinkActive="active" (click)="activateButton('pan-zoom')" 
            class="btn btn-outline-primary toolbar-buttons" role="button">pan-zoom</a>
        <a [routerLink]="['/brush-zoom']" routerLinkActive="active" (click)="activateButton('brush-zoom')" 
            class="btn btn-outline-primary toolbar-buttons" role="button">brush-zoom</a>
    </div>
  </div>

  <!-- Main frame -->
  <div class="web4Bpa-main-frame">
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  </div>
</div>




